<div class="card container mt-4 shadow-sm">
  <section class="row">
    <div class="card-body py-3">
      <section>
        <h1>Solicitud de vacaciones</h1>
      </section>
      <p>
        <ngb-alert [dismissible]="false">
          <strong>{{
            userData.name + "(" + userData.numberEmployee + ")"
          }}</strong>
          <p>Dias disponibles: {{ userData.daysAvailble }}</p>
          <p>Periodo: {{ userData.period }}</p>
          <p>Fecha fin: {{ userData.dateEnd | date }}</p>
        </ngb-alert>
      </p>
      <hr />
      <form [formGroup]="frmData" enctype="multipart/form-data">
        <div
          class="form-group col-12 col-sm-12 col-md-12 col-lg-12"
          formArrayName="request"
        >
          <label class="h3"
            >Solicitud
            <i-feather
              name="plus-circle"
              class="text-info font-22 cursor-pointer"
              (click)="addRow()"
            ></i-feather>
          </label>
          <div *ngFor="let row of rowsFormArray.controls; let rowIndex = index">
            <div formGroupName="{{ rowIndex }}">
              <!-- I can add an input inside the formArray, prepare createResponse() -->
              <div class="row">
                <div ngbAccordion class="col-11 mt-3">
                  <div ngbAccordionItem [destroyOnHide]="false">
                    <h2 ngbAccordionHeader>
                      <button ngbAccordionButton>
                        Solicitud {{ rowIndex + 1 }}
                      </button>
                    </h2>
                    <div ngbAccordionCollapse>
                      <div ngbAccordionBody>
                        <ng-template>
                          <div class="row">
                            <div
                              class="form-group col-sm-12 col-md-12 col-lg-12 mb-3"
                            >
                              <div class="form-check form-check-inline">
                                <input
                                  class="form-check-input"
                                  type="radio"
                                  formControlName="type"
                                  id="exampleRadios1"
                                  value="idVacaciones"
                                />
                                <label
                                  class="form-check-label"
                                  for="exampleRadios1"
                                  >Vacaciones</label
                                >
                              </div>
                              <div class="form-check form-check-inline">
                                <input
                                  class="form-check-input"
                                  type="radio"
                                  formControlName="type"
                                  id="exampleRadios2"
                                  value="idEconomico"
                                />
                                <label
                                  class="form-check-label"
                                  for="exampleRadios2"
                                  >Económico</label
                                >
                              </div>
                              <div class="form-check form-check-inline">
                                <input
                                  class="form-check-input"
                                  type="radio"
                                  formControlName="type"
                                  id="exampleRadios3"
                                  value="idPermiso"
                                />
                                <label
                                  class="form-check-label"
                                  for="exampleRadios3"
                                  >Permiso</label
                                >
                              </div>
                              <div class="form-check form-check-inline">
                                <input
                                  class="form-check-input"
                                  type="radio"
                                  formControlName="type"
                                  id="exampleRadios4"
                                  value="idPermisoEspecial"
                                />
                                <label
                                  class="form-check-label"
                                  for="exampleRadios4"
                                  >Permiso Especial</label
                                >
                              </div>
                            </div>
                            <div
                              class="form-group col-sm-12 col-md-12 col-lg-12"
                            >
                              <div class="form-floating mb-3">
                                <input
                                  type="number"
                                  min="1"
                                  step="1"
                                  onkeypress="return event.charCode >= 48 && event.charCode <= 57"
                                  class="form-control"
                                  id="floatingInput"
                                  formControlName="days"
                                  placeholder=""
                                />
                                <label for="floatingInput"
                                  >Días a disfrutar</label
                                >
                              </div>

                              <div class="form-check mb-3">
                                <input
                                  class="form-check-input"
                                  type="checkbox"
                                  formControlName="midday"
                                  id="checkMidday"
                                />
                                <label
                                  class="form-check-label"
                                  for="checkMidday"
                                >
                                  Medio día
                                </label>
                              </div>
                              <div>
                                <app-calendar
                                  (rangedate)="getRange($event, rowIndex)"
                                ></app-calendar>
                              </div>
                              <div class="form-floating mb-3">
                                <textarea
                                  style="height: 150px"
                                  class="form-control"
                                  id="floatingComments"
                                  formControlName="comment"
                                  placeholder=""
                                >
                                </textarea>
                                <label for="floatingComments"
                                  >Comentarios</label
                                >
                              </div>
                            </div>
                          </div>
                        </ng-template>
                      </div>
                    </div>
                  </div>
                </div>
                <div
                  class="col-1 d-flex justify-content-center align-items-center"
                >
                  <i-feather
                    name="trash"
                    class="text-danger cursor-pointer"
                    (click)="removeRow(rowIndex)"
                    placement="top"
                    [ngbTooltip]="'Eliminar solictud ' + (rowIndex + 1)"
                  ></i-feather>
                </div>
              </div>
              <!-- End FormArray - profile -->
            </div>
          </div>
          <div class="row my-2 px-2">
            <button class="btn btn-primary" (click)="onSubmit()">Enviar</button>
          </div>
        </div>
      </form>
    </div>
  </section>
</div>

<app-counter></app-counter>
